@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}


:root {
    --bg-primary: rgb(30, 30, 30);
    --clr-primary: rgb(228, 228, 228);
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-primary);
    color: var(--clr-primary);

    scroll-padding-bottom: 20rem;
}

body {
    font-size: clamp(1rem, 2vw, 1.25rem);
}

@media (min-width: 60rem) {
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .lead {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
    }
}

/* Text */
h1, h2, h3 {
    line-height: 1.1;
    max-width: 45ch;
    margin: 0;
}

p {
    line-height: 1.6;
    max-width: 60ch;
    margin: 0;
}

a {
    color: var(--clr-primary);
    font-weight: bold;
}


.home-header {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    
}

.lead {
    width: 20em;
    margin: 1em 0;
}

.lead * {
    margin-bottom: 1em;
}

.home-paragraph {
    margin: 2rem 0 3rem 0;
    max-width: 50em;
}

.home-paragraph:after {
    content: '';
    display: block;
    height: 1px;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.home-paragraph__header {
    margin-bottom: 1rem;
}

.profile-pic {
    border-radius: 50%;
    width: 5em;
}

.font-header {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.font-description {
    font-weight: 200;
    font-size: .65em;
}

.post-header {
    font-size: 2.5em;
}

.post-description {
    font-size: 1.2em;
}
/*********************************************/



.navbar {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: rgb(36, 36, 36);
    color: var(--clr-primary);
    font-size: 1.2em;
    padding: 1em 0.5em;
    width: 100%;
}

.nav-link {
    color: var(--clr-primary);
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    /* color: white; */
    text-decoration: underline;
}

.center-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Welcome Page */

.blog-wrapper {
    margin-top: 8em;
    padding: 0 2em;
}


/***********************************/

/* Cards and posts */
.card {
    border-radius: 0.5em;
    padding: 1em;
    background-color: rgb(42, 42, 42);
}

.post-content-card {
    padding: 2em;
    max-width: 100%;
    max-width: 50em;
}

.modify-post-header {
    margin-bottom: 2em;
}

.post-content h1 {
    font-size: 2em;
}

.post-content h2 {
    font-size: 1.5em;
}

.post-content,
.post-content img {
    width: 100%;
    border-radius: 2%;
}

.post-content img {
    box-shadow: 0px 0px 1em 0.2em rgb(0, 0, 0, 0.3);
    margin: 1.5em 0;
}

.post-content p {
    min-width: 100%;
    word-wrap: break-word;
    text-overflow: clip;
}


code, pre {
    background-color: rgb(60, 60, 60);
    color: rgb(217, 217, 217);
    font-family: monospace;
    letter-spacing: 0.08em;
    border-radius: 0.2em;
    max-width: 100%;
    overflow-x: auto;
    line-height: 1.5;
}

/* Inline code tags */
code {
    padding: 0.1em 0.5em;
}

pre {
    /* white-space: pre-wrap; */
    padding: 1em;
    margin: 1.5em 0;
}

/* Block-like code tags. */
pre code {
    padding: 0;
}

.post-content h1, .post-content h2, .post-content h3 {
    max-width: 100%;
    margin: 1em 0;
}

.one-line-input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 2em;
}

.one-line-input:focus, .one-line-input:hover {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0);
}

textarea {
    resize: none;
    border: 1px solid black;
    vertical-align: top;

    color: var(--clr-primary);
    background-color: var(--bg-primary);
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}



/* Generic styles */
/* Box Shadow */
.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.shadow-bottom {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.image-upload-svg:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.btn-danger {
    border: none;
    border-radius: 0.2em;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 0.5em 0.1em rgb(0, 0, 0, 0.3);
}

.btn-danger:hover {
    background-color: rgb(255, 65, 65);
    transform: translateY(-0.1em);
    box-shadow: 0px 0px 0.5em 0.1em rgb(0, 0, 0, 0.5);
}


.mb-1 {
    margin-bottom: 1em;
}
