@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(30, 30, 30);
    color: white;
}

body {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

/* Text */
h1, h2, h3 {
    line-height: 1.1;
    max-width: 45ch;
    margin: 0;
}

p {
    line-height: 1.6;
    max-width: 60ch;
    margin: 0;
}

a {
    color: rgb(83, 80, 255);
    font-weight: bold;
}


.home-header {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    
}

.lead {
    width: 20em;
    margin: 1em 0;
}

.home-paragraph {
    margin: 3em 0;
    max-width: 40em;
    
}

.profile-pic {
    border-radius: 50%;
    width: 5em;
}

.font-header {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.font-description {
    font-weight: 200;
    font-size: .65em;
}

.post-header {
    font-size: 2.5em;
}

.post-description {
    font-size: 1.2em;
}
/*********************************************/


/********
    Flex Styles 
*********/

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Flex direction */

.flex-col {
    flex-direction: column;
}

.hide {
    display: none;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}
/*******************************************/


.navbar {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 1.2em;
    padding: 1em 0.5em;
    width: 100%;
}

.nav-link {
    color: rgb(233, 233, 233);
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    /* color: white; */
    text-decoration: underline;
}

.center-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Welcome Page */

.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
}


/***********************************/

/* Cards and posts */
.card {
    border-radius: 0.5em;
    padding: 1em;
    background-color: rgb(42, 42, 42);
}


.post-preview {
    max-width: 50em;
    margin-bottom: 2em;
    transition: box-shadow 0.2s, transform 0.2s;
}

.post-content-card {
    padding: 2em;
    width: 100%;
    max-width: 50em;
}

.modify-post-header {
    margin-bottom: 2em;
}

.post-content h1 {
    font-size: 2em;
}

.post-content h2 {
    font-size: 1.5em;
}

.post-content,
.post-content img {
    width: 100%;
    border-radius: 2%;
}

.post-content img {
    box-shadow: 0px 0px 1em 0.2em rgb(0, 0, 0, 0.3);
    margin: 1.5em 0;
}

.post-content p {
    min-width: 100%;
    word-wrap: break-word;
    text-overflow: clip;
}


code, pre {
    background-color: rgb(49, 49, 49);
    color: rgb(0, 255, 26);
    font-family: monospace;
    letter-spacing: 0.08em;
    border-radius: 0.2em;
    max-width: 100%;
    overflow-x: auto;
}

/* Inline code tags */
code {
    padding: 0.1em 0.5em;
}

pre {
    /* white-space: pre-wrap; */
    padding: 1em;
    margin: 1.5em 0;
}

/* Block-like code tags. */
pre code {
    padding: 0;
}

.post-content h1, .post-content h2, .post-content h3 {
    max-width: 100%;
    margin: 1em 0;
}

.post-preview:hover {
    box-shadow: 0px 0.5em 1em rgba(255, 255, 255, 0.392);
    transform: translateY(-0.1em);
}

@media (min-width: 41em) {
    .post-preview{
        max-width: 40em;
    }
}

@media (min-width: 50em) {
    .post-content {
        max-width: 50em;
    }
}

.description {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding-left: 0.5em;
}


.one-line-input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 2em;
}

.one-line-input:focus, .one-line-input:hover {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0);
}

textarea {
    resize: none;
    border: 1px solid black;
}



/* Generic styles */
/* Box Shadow */
.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.shadow-bottom {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.image-upload-svg:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.btn-danger {
    border: none;
    border-radius: 0.2em;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 0.5em 0.1em rgb(0, 0, 0, 0.3);
}

.btn-danger:hover {
    background-color: rgb(255, 65, 65);
    transform: translateY(-0.1em);
    box-shadow: 0px 0px 0.5em 0.1em rgb(0, 0, 0, 0.5);
}


.mb-1 {
    margin-bottom: 1em;
}
