/********
    Flex Styles 
*********/

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Flex direction */

.flex-col {
    flex-direction: column;
}

.hide {
    display: none;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}
/*******************************************/